<% if (item.categories && item.categories.length){ %>
<ul class="category-list">
    <%
        var categories = [];
        item.categories.forEach(function(category){
            categories.push('<li><a class="'+category.name+'" href="' + config.root + category.path + '">' + category.name + '</a></li>')
        });

    %>
<%-categories.join(' - ')%>
</ul>
<% } %>