
<nav id="main-nav">

    <div>
        <a href="https://github.com/isebmo">
            <img src="/images/papageek-logo.png" alt="PapaGeek" height="38px" width="38px">
            <h1>PapaGeek</h1>
        </a>
    </div>
    
    <ul class="unstyled">
        <li class="<% if(path.indexOf('cv') > -1) { %> <%= 'active' %> <% } %>"><a href="<%- config.root + 'cv' %>">Pour les parents</a></li>
        <li class="<% if(path.indexOf('blog') > -1) { %> <%= 'active' %> <% } %>"><a href="<%- config.root + 'blog' %>">Pour le bébé</a></li>
    </ul>
</nav>
