<section class="max-width">
    <ol id="posts">
        <% page.posts.each(function(item){ %>
            <%- partial('_partial/article-excerpt', {item: item}) %>
        <% }); %>
        <%- partial('_partial/pagination', {type: 'page'}) %>
    </ol>
</section>