<section>
    <ol id="posts" class="grid-2 has-gutter">
        <% site.posts.each(function(item){ %>
            <%- partial('_partial/article-excerpt', {item: item}) %>
        <% }); %>
        <%- partial('_partial/pagination') %>
    </ol>
</section>