#posts {
    list-style: none;
    padding: 1rem 1rem 0 1rem;
    article {
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .16), 0 0 0 1px rgba(0, 0, 0, .04);
        transition: box-shadow .3s ease-in-out;
        display: flex;
        background-color: #fff;
        outline: 0;
        margin-bottom: 1rem;
        .fimg {
            flex: 1 0 0;
            padding-bottom: 30%;
            width: 45%;
            @media (max-width: $small - 1) {
                padding-bottom: 60%;
                width: 100%;
            }
        }
        @media (max-width: $small - 1) {
            flex-direction: column;
        }
        section {
            flex: 1 0 0;
            padding: 1rem;
            text-align: center;
            width: 55%;
            @media (max-width: $small - 1) {
                width: 100%;
            }
        }
        h2 {
            margin-bottom: 1rem;
        }
        .category-list {
            padding: 1rem 0 3rem 0;
        }
    }
}

.blog-post {
    background-color: #fff;
    margin-bottom: 1rem;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .12);
    article {
        padding: 1rem;
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
        text-align: justify;
    }
}

.blog-post-title {
    padding: 1rem;
    text-align: center;
}

.blog-post-meta {
    color: grey;
    font-style: italic;
    text-align: center;
    font-size: 90%;
}