.button,
button {
    display: inline-block;
    padding: 1rem;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .12);
    background: white;
    text-align: center;
    text-decoration: none;
    color: $color1;
    border: none;
    &:hover {
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .30);
        cursor: pointer;
    }
}