footer {
  background-color: #1e1e24;
  color: #fff;
  padding: 2rem;
  text-align: center;
  form {
    margin: 0 auto;
    *:focus {
      outline: none;
    }
    input[type="text"] {
      border: none;
      color: orange;
      text-align: center;
      background: none;
      border-bottom: 1px solid #aaaaaa;
      border-radius: 0;
      &:focus {
        border-bottom: 1px solid orange;
      }
    }
  }
}