body {
    blockquote {
        font-family: Georgia, serif;
        font-size: 18px;
        font-style: italic;
        margin: 0.25em 0;
        padding: 0.25em 50px;
        line-height: 1.45;
        position: relative;
        color: #383838;
    }
    blockquote:before {
        display: block;
        content: "\201C";
        font-size: 80px;
        position: absolute;
        left: 0;
        top: -20px;
        color: #7a7a7a;
    }
    blockquote cite {
        color: #999999;
        font-size: 14px;
        display: block;
        margin-top: 5px;
    }
    blockquote cite:before {
        content: "\2014 \2009";
    }
}