#main-nav {
  display: flex;
  padding: 0 1rem;
  img {
    vertical-align: bottom;
  }
  ul {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    a {
      color: $color5;
      border: none;
      display: block;
      padding: 0 1em;
      line-height: 2;
      text-decoration: none;
      text-transform: capitalize;
    }
    li {
      border-bottom: solid 1px transparent;
      &.active,
      &:hover {
        border-bottom: solid 1px $color5;
      }
      &.logo {
        display: flex;
        align-items: center;
      }
    }
  }
}

#pagination {
  text-align: center;
  margin-bottom: 1rem;
}